body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

p {
  color: #454545;
}

/* Headings */

.big-heading {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

/* Containers */

.container-fluid {
  padding: 7% 15%;
}

/* Sections */

.colored-section {
  background-color: #172e53;
  color: #fff;
}

.white-section {
  background-color: #fff;
}

/* Navigation Bar */

.logo {
  max-height: 125px;
  width: auto;
}

.navbar {
  padding-bottom: 4.5rem;
}

.navbar-brand {
  font-size: 2.5rem;
  font-family: 'Ubuntu', sans-serif;
}

.nav-item {
  padding: 0 18px;
  font-size: 1.2rem;
}

.nav-link {
  font-size: 1.2rem;
}

/* LearnMore button */
.learnMore-button {
  margin: 5% 3% 5% 0;
}

/* Title section */

#title {
  text-align: left;
}

#title .container-fluid {
  padding: 3% 15% 7%;
}

/* Title image */

.title-image {
  width: 90%;
  max-width: 800px;
  position: absolute;
  right: 5%;
}

.image-div {
  position: relative;
}

/* Features section */

.sloganText {
  font-family: 'Roboto Mono', monospace;
  color: #ea4655;
  font-weight: lighter;
  padding: 30px 10px;
}

#services {
  position: relative;
}

.services-title {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.services-box {
  padding: 5%;
}

.services-box.selected {
  background-color: #172e53;
  box-shadow: 15px 15px 30px rgba(0, 0, 0, 0.3);
  color: #fff;
}

.services-box.selected p {
  color: #fff;
}

#services i {
  color: #ea4655;
  margin-bottom: 1rem;
}

/* About Us Section */

#about {
  padding-bottom: 20px;
}

.about-text {
  text-align: center;
  margin: 25px 125px;
}

.section {
  display: flex;
  align-items: center;
  overflow: auto;
  margin: 20px 0;
}

img.left,
img.right {
  width: 35%;
  max-height: 400px;
  object-fit: cover;
}

img.left {
  margin-right: 20px;
  order: 0;
}

img.right {
  margin-left: 20px;
  order: 1;
}

.section p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

@media screen and (max-width: 768px) {
  .section {
    flex-direction: column;
  }
  img.left,
  img.right {
    width: 100%;
    order: 0;
  }
  .section p {
    order: 1;
  }
}

/* Testimonial section */

#testimonials {
  min-height: 490px;
}

.testimonial-text {
  font-size: 2rem;
  line-height: 1.5;
}

.testimonial-image {
  width: 15%;
  max-width: 150px;
  margin: 20px;
  transition: all 1s;
}

.testimonial-image:hover {
  transform: scale(1.4);
}

#affiliates {
  background-color: #e384ff;
  padding-bottom: 3%;
}

.affiliates-logo {
  width: 15%;
  max-width: 150px;
  margin: 20px 20px 50px;
}

/* Affiliates-logos */
#affiliates {
  padding-top: 50px;
}

#affiliates img {
  transition: all 1s;
}

#affiliates img:hover {
  transform: scale(1.4);
}

/* Commission Section */

#comission i {
  color: #ea4655;
}

#commission {
  padding: 100px;
}

.commission-column {
  padding: 3% 2%;
}
#commission .section-heading {
  margin-bottom: 50px;
  padding-bottom: 20px;
}

/* Footer section */

#footer {
  background-color: #fff;
}

.social-icon {
  margin: 20px 10px;
}

.container-fluid a {
  text-decoration: none;
  color: inherit;
}

footer .sloganText {
  margin: 0;
}

.social {
  padding: 4% 15%;
}

/* EasyServed Boxes */

.boxes-container {
  margin-top: 30px;
}
.box-img {
  width: 60px;
  height: auto;
}
.box-title {
  font-size: 18px;
  font-weight: bold;
  color: #172e53;
  min-height: 70px;
  margin-top: 10px;
}

/* Media queries */

@media (max-width: 1028px) {
  #title {
    text-align: center;
  }

  #testimonials {
    min-height: 545px;
  }

  .title-image {
    position: static;
    transform: rotate(0);
  }
}
