body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

p {
  color: #454545;
}

/* Headings */

.big-heading {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

/* Containers */

.container-fluid {
  padding: 7% 15%;
}

/* Sections */

.colored-section {
  background-color: #172e53;
  color: #fff;
}

.white-section {
  background-color: #fff;
}

/* Navigation Bar */

.logo {
  max-height: 125px;
  width: auto;
}

.navbar {
  padding-bottom: 4.5rem;
}

.navbar-brand {
  font-size: 2.5rem;
  font-family: 'Ubuntu', sans-serif;
}

.nav-item {
  padding: 0 18px;
  font-size: 1.2rem;
}

.nav-link {
  font-size: 1.2rem;
}

.nav-item.menu-products,
.nav-item.menu-clients,
.nav-item.language-selector {
  position: relative;
  cursor: pointer;
}

.menu-dropdown-holder {
  max-height: 0;
  overflow: hidden;
  transition: all 0.7s;
  position: absolute;
  top: 45px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.menu-dropdown {
  list-style-type: none;
  padding: 0;
}

.menu-products,
.menu-clients,
.language-selector {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.menu-products.expanded .menu-dropdown-holder,
.menu-clients.expanded .menu-dropdown-holder,
.language-selector.expanded .menu-dropdown-holder {
  max-height: 130px;
}

.menu-products:after,
.menu-clients:after,
.language-selector:after {
  content: '';
  background-image: url('../images/icons/arrow-up.svg');
  background-size: contain;
  background-position: center;
  width: 16px;
  height: 16px;
  display: block;
  margin-left: 10px;
  transform: rotate(180deg);
  transition: all 0.7s;
}

.menu-products.expanded:after,
.menu-clients.expanded:after,
.language-selector.expanded:after {
  transform: rotate(0);
}

.menu-dropdown-item {
  text-align: center;
  padding: 10px;
}

.language-selector li,
#current-language {
  display: flex;
  align-items: center;
  justify-content: center;
}

.language-selector li img,
#current-language img {
  width: auto;
  height: 24px;
  margin-left: 7px;
}

/* LearnMore button */
.learnMore-button {
  margin: 5% 3% 5% 0;
}

/* Title section */

#title {
  text-align: left;
}

#title .container-fluid {
  padding: 3% 15% 7%;
}

/* Title image */

.title-image {
  /* width: 90%;
  max-width: 800px;
  transform: rotate(15deg);
  position: absolute;
  right: 5%;
  top: 5%; */
  height: auto;
  width: auto;
  max-width: 100%;
  max-height: 100%;
}

.image-div {
  position: relative;
}

/* Features section */

.sloganText {
  font-family: 'Roboto Mono', monospace;
  color: #ea4655;
  font-weight: lighter;
  padding: 30px 10px;
}

#services {
  position: relative;
}

.services-title {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.services-box {
  padding: 5%;
}

.services-box.selected {
  background-color: #172e53;
  box-shadow: 15px 15px 30px rgba(0, 0, 0, 0.3);
  color: #fff;
}

.services-box.selected p {
  color: #fff;
}

#services i {
  color: #ea4655;
  margin-bottom: 1rem;
}

/* About Us Section */

#about {
  padding-bottom: 20px;
}

.about-text {
  text-align: center;
  margin: 25px 125px;
}

.section {
  display: flex;
  align-items: center;
  overflow: hidden;
  margin: 20px 0;
}

img.left,
img.right {
  width: 35%;
  max-height: 400px;
  object-fit: cover;
}

img.left {
  margin-right: 20px;
  order: 0;
}

img.right {
  margin-left: 20px;
  order: 1;
}

.section p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

@media screen and (max-width: 768px) {
  .section {
    flex-direction: column;
  }
  img.left,
  img.right {
    width: 100%;
    order: 0;
  }
  .section p {
    order: 1;
  }
}

/* Testimonial section */

#testimonials {
  min-height: 520px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.testimonial-text {
  font-size: 2rem;
  line-height: 1.5;
}

/* Products Section */

.products i {
  color: #ea4655;
}

.products {
  padding: 100px;
}

.products-column {
  padding: 3% 2%;
}
.products .section-heading {
  margin-bottom: 50px;
  padding-bottom: 20px;
}

.separator {
  height: 45px;
  background-color: #172e53;
}

.product-logo {
  max-width: 100%;
  height: 200px;
  width: auto;
}

#products .product-logo {
  height: 150px;
  margin-bottom: 50px;
}

#myTimo .product-logo {
  margin-top: -25px;
}

.product-img-holder {
  display: block;
  max-height: 200px;
  overflow: hidden;
}

.product-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: 0% 63%;
}

.product-text {
  margin: 0 auto 35px;
  max-width: 75%;
}

/* Footer section */

#footer {
  background-color: #fff;
}

.social-icon {
  margin: 20px 10px;
}

.container-fluid a {
  text-decoration: none;
  color: inherit;
}

footer .sloganText {
  margin: 0;
}

.social {
  padding: 4% 15%;
}

/* EasyServed Boxes */

.boxes-container {
  margin-top: 30px;
}
.box-img {
  width: 60px;
  height: auto;
}
.box-title {
  font-size: 18px;
  font-weight: bold;
  color: #172e53;
  min-height: 70px;
  margin-top: 10px;
}

/* Scroll to top button*/

.scroll-to-top {
  position: fixed;
  bottom: 50px;
  right: 50px;
  display: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  border: 1px solid black;
  background-color: #ffffff;
  z-index: 100;
}

/* Media queries */

@media (max-width: 1028px) {
  #title {
    text-align: center;
  }

  #testimonials {
    min-height: 545px;
  }

  .title-image {
    position: static;
    transform: rotate(0);
  }
}

@media only screen and (max-width: 991px) {
  .menu-dropdown-holder {
    position: unset;
    transform: unset;
    order: 1;
    min-width: 100%;
  }
}

@media only screen and (max-width: 576px) {
  .big-heading {
    font-size: 35px;
  }

  .testimonial-text {
    font-size: 22px;
  }

  .about-text {
    margin: 25px 20px;
  }

  .products {
    padding: 25px 20px;
  }

  .product-text {
    max-width: 100%;
  }
}
