body {
  background-color: #172e53;
  color: aliceblue;
  text-align: center;
}

p {
  color: #ea4655;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

.container {
  background-color: #fff;
}
